<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Sarvavyaptam - Best online store" />
  <link rel="apple-touch-icon" href="/logo192.png" />
  <link rel="manifest" href="/manifest.json" />
  <title>Sarvavyaptam - {{name}}</title>
  <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  {{#if_eq login 'nope'}}
  {{>nav}}
  {{else}}
  {{>navLogin name=login.name}}
  {{/if_eq}}
  {{{html}}}
  <script>
    function plus() {
      let hi = document.getElementById('quantity').innerText
      hi = Number(hi)
      if (hi <= 5) {
        if ({{{json stock}}} === hi) {

        }
        else {
          if (hi >= 5) {
            document.getElementById('quantity').innerText = 5
          }
          else {
            document.getElementById('quantity').innerText = hi + 1
          }
        }
      }
    }
    function minus() {
      let hi = document.getElementById('quantity').innerText
      if(Number(hi) == 1){}
      else document.getElementById('quantity').innerText = Number(hi) - 1
    }
    async function add_to_cart() {
      try {
        let sach = {{{ json id }}}
        sach[0].quantity = Number(document.getElementById('quantity').innerText)
        fetch("/add-cart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            id: sach
          })
        }).then((e) => {
              // if you are not login set the cookie of your item
              if (e.status === 202) {
                e.json().then((easy) => {
                  document.cookie = `user=${easy.token}; expires=${new Date(Date.now() + 10000000000)}; path=/`;
                })
                window.location.reload()
              }
              else{
                window.location.reload()
              }
            })
      }
      catch {
    }
    }
  </script>
  {{>footer}}
  <script src="/js/script.js"></script>
</body>

</html>