<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Sarvavyaptam - Best online store" />
  <link rel="apple-touch-icon" href="/logo192.png" />
  <link rel="manifest" href="/manifest.json" />
  <title>Sarvavyaptam - Register</title>
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
  <style>
    .MSG-Email {
      width: 80%;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      border-radius: 1px;
      background: rgb(90, 155, 90);
      color: white;
    }

    .MSG-Error {
      width: 80%;
      position: relative;
      left: 50%;
      transform: translate(-50%);
      border-radius: 1px;
      background: rgb(206, 50, 50);
      color: white;
    }

    .fixed-Email {
      position: fixed;
      bottom: 40px;
      width: 100%;
      opacity: 1;
      display: block;
      z-index: 100000000000000000;
      transition: all 0.2s ease-in-out;
    }

    .fixed-Error {
      position: fixed;
      bottom: 40px;
      width: 100%;
      opacity: 1;
      display: block;
      z-index: 100000000000000000;
      transition: all 0.2s ease-in-out;
    }

    #MSG-Fail {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  </style>
</head>

<body>
  {{#if_eq login 'nope'}}
  {{>nav}}
  {{else}}
  {{>navLogin name=login.name}}
  {{/if_eq}}
  {{>backtotop}}
  <div class="py-6">
    <div class="flex dark:bg-gray-800 bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
      <div class="hidden lg:block lg:w-1/2 bg-cover"
        style="background-image: url(&quot;https://images.unsplash.com/photo-1546514714-df0ccc50d7bf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=667&amp;q=80&quot;);">
      </div>
      <div class="w-full p-8 lg:w-1/2"><img class="mx-auto rounded object-cover h-16" alt="logo" data-src="/logo192.png">
        <h2 class="text-2xl text-gray-700 text-center dark:text-gray-300">Sarvavyaptam</h2>
        <p class="text-xl text-gray-600 text-center dark:text-gray-400">Create Account!</p><span
          class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100"></span>
        <form method="post" action="/register"><a href="{{loginLink}}"
            class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md dark:bg-gray-700 hover:dark:bg-gray-600 hover:bg-gray-100">
            <div class="px-4 py-3 cursor-pointer"><svg class="h-6 w-6" viewBox="0 0 40 40">
                <path
                  d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
                  fill="#FFC107"></path>
                <path
                  d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z"
                  fill="#FF3D00"></path>
                <path
                  d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z"
                  fill="#4CAF50"></path>
                <path
                  d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
                  fill="#1976D2"></path>
              </svg></div>
            <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold dark:text-gray-300 cursor-pointer">Sign Up
              with
              Google</h1>
          </a>
          <div class="mt-5 flex items-center justify-between"><span
              class="border-b dark:border-gray-400 w-1/5 md:w-1/4"></span><span
              class="text-xs text-gray-500 uppercase dark:text-gray-400t-10">
              <p> OR SIGN UP WITH EMAIL</p>
            </span><span class="border-b w-1/5 md:w-1/4 dark:border-gray-400"></span></div>
          <div class="mt-4"><label class="block dark:text-gray-300 text-gray-700 text-sm mb-2">Name</label>
            <input type="text" name="name"
              class="dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 focus:border-indigo-500 dark:focus:bg-gray-900 dark:focus:ring-indigo-900 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              required="" value="{{input.name}}">
          </div>
          <div class="mt-4"><label class="block dark:text-gray-300 text-gray-700 text-sm mb-2">Phone</label>
            <input type="text" name="phone"
              class="dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 focus:border-indigo-500 dark:focus:bg-gray-900 dark:focus:ring-indigo-900 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              required="" value="{{input.phone}}">
          </div>
          <div class="mt-4"><label class="block dark:text-gray-300 text-gray-700 text-sm mb-2">Email ID</label>
            <input type="email" name="email"
              class="dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 focus:border-indigo-500 dark:focus:bg-gray-900 dark:focus:ring-indigo-900 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              required="" value="{{input.email}}">
          </div>
          <div class="mt-4">
            <div class="flex justify-between"><label
                class="block text-gray-700 text-sm dark:text-gray-300 mb-2">Password</label></div>
            <input type="password" name="password"
              class="dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700 focus:border-indigo-500 dark:focus:bg-gray-900 dark:focus:ring-indigo-900 w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              required="" value="">
          </div>
          <div class="mb-3"></div>
          <div>
            <div class="g-recaptcha" data-sitekey="6LfWJ6AeAAAAAAtFRi1V8X8QQA3WvxtXtDTDE1-R"></div>
            <div class="mt-8"><button type="submit"
                class="bg-gray-700 text-white dark:bg-blue-600 dark:hover:bg-blue-500 py-2 px-4 w-full rounded hover:bg-gray-600 disabled:opacity-60 disabled:cursor-default">Create
                Account</button></div>
        </form>
        <div class="mt-4 flex items-center justify-between">
          <span class="border-b dark:border-gray-400 w-1/5 md:w-1/4"></span>
          <span class="text-xs text-gray-500 uppercase dark:text-gray-400">
            <a href="/login"> or Login</a></span>
          <span class="border-b w-1/5 md:w-1/4 dark:border-gray-400"></span>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  {{#if_eq error 'true'}}
  <div class="fixed-Error" id="error-added">
    <div class="MSG-Error flex justify-center items-center">
      <h5 class="text-xl text-center py-3 px-2">{{errorMsg}}</h5>
      <h5 class="text-3xl cursor-pointer text-center py-3"
        onclick="document.getElementById('error-added').style.opacity=0;document.getElementById('error-added').style.display='none'">
        &times;</h5>
    </div>
  </div>
  {{/if_eq}}
  {{#if_eq error 'false'}}
  <div class="fixed-Email" id="already-added">
    <div class="MSG-Email flex justify-center items-center">
      <h5 class="text-xl text-center py-3 px-2">{{errorMsg}}</h5>
      <h5 class="text-3xl cursor-pointer text-center py-3"
        onclick="document.getElementById('already-added').style.opacity=0;document.getElementById('already-added').style.display='none'">
        &times;</h5>
    </div>
  </div>
  {{/if_eq}}
  <script src="/js/script.js"></script>
</body>

</html>